<h1> How it works </h1>
	<div class="row-fluid">
		<div class="span4">
			<img src ="<%= image_path("thumbnail.png") %>"><br>
			<strong>1. Create personas to become and stay focused.</strong><br>
			Define for yourself what it means to be a certain type of person. What type of things does that type of person do? 
		</div>
		<div class="span4">
			<img src ="<%= image_path("thumbnail.png") %>"><br>
			<strong>2. Keep track of your progress by journaling.</strong><br> 
			Reflect on the steps you are taking to transform into the type of person you are trying to become, attach inspirational scraps and articles together.
		</div>
		<div class="span4">
			<img src ="<%= image_path("thumbnail.png") %>"><br>
			<strong>3. Share your aspirations and get inspired by others.</strong><br> 
			Draw from the collective knowledge of the hive mind and get tips to achieve your goals. 
		</div>
	</div>

<hr>

      <div class="row-fluid marketing">
        <div class="span4">
          <h4>Identity Based Habits</h4>
          <p>The key to building lasting habits is focusing on creating a new identity first. Your current behaviors are simply a reflection of your current identity. What you do now is a mirror image of the type of person you believe that you are (either consciously or subconsciously).To change your behavior for good, you need to start believing new things about yourself.</p>
        </div>

        <div class="span4">
          <h4>Believe it</h4>
          <p>The interior of behavior change and building better habits is your identity. Each action you perform is driven by the fundamental belief that it is possible. So if you change your identity (the type of person that you believe that you are), then it’s easier to change your actions.</p>
        </div>

        <div class="span4">
          <h4>Become that person</h4>
          <p>If you’re looking to make a change, then I say stop worrying about results and start worrying about your identity. Become the type of person who can achieve the things you want to achieve. Build the habit now. The results can come later.</p>
        </div>
      </div>

<hr>


<h1> Example to be list </h1>

<div class="row-fluid">
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img src ="<%= image_path("thumbnail.png") %>">
          <div class="caption">
            <h3>To be a hacker</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn">Comment</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
         <img src ="<%= image_path("thumbnail.png") %>">
          <div class="caption">
            <h3>To be a dancer</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn">Comment</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img src ="<%= image_path("thumbnail.png") %>">
          <div class="caption">
            <h3>To be a chef</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn">Comment</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img src ="<%= image_path("thumbnail.png") %>">
          <div class="caption">
            <h3>To be an athlete</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn">Comment</a></p>
          </div>
        </div>
      </li>
    </ul>
</div>