<% if @tobe.errors.any? %>
	<h4>There were errors saving your to be</h4>
	<ul>
		<% @tobe.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>

	</ul>
<% end %>

<%= form_for @tobe, :html => { :class => "form-tobe" }  do |f| %>

	<%= label_tag :category %>

    <%= text_field_tag :category, @category, :data => { :provide => "typeahead", :source => @categories }, :autocomplete => "off", :required => true, :class => "field span6", :rows => "6" %>


	<%= f.label :title, "I want to be..." %>
	<%= f.text_field :title, :class => "field span6" %>

	<%= f.label :reason, "because..." %>
	<%= f.text_area :reason, :class => "field span6" %>

	<%= f.label :description, "More Details" %>
	<%= f.text_area :description, :class => "field span6", :rows => "6" %>

	<%= f.label :image %>
	<%= f.file_field :image %>
	<hr>
	<%= f.submit "Submit", :class => "btn" %>

<% end %>

