<h2> I want to be <%= @tobe.title %> because <%= @tobe.reason %> </h2>

<h4>
	<%= @tobe.description %>
</h4>

<h4>	
	posted by <a href="<%= user_path(@tobe.user) %>"> <%= @tobe.user.email %></a>
</h4>

</p>

<% if @tobe.image.present? %>
	<h4>Image:</h4>
	<div>
  		<img src="<%= @tobe.image.url %>"/>
	</div>
	<br>
<% end %>





<div>
	<a href="<%= edit_tobe_path( @tobe ) %>" class="btn">Edit To Be</a>
</div>
<div>
	<%= button_to "Delete To Be", tobe_path(@tobe), :method => :delete, :class => "btn"  %>
</div>


<% if user_signed_in? %>
	<%= form_for [@tobe, @journal] do |f| %>
		<%= f.text_field :title, :placeholder => "Title" %><br>
		<%= f.text_area :body, :placeholder => "Entry", :rows => 8, :cols => 40 %>
		<br>
		<%= f.submit "Submit Journal" %>
	<% end %>
<% end %>


<div id="journal">
  <ul>
    <% @tobe.journals.each do | journal | %>
    <%= render :partial => "journals/journal", :locals => { :journal => journal } %>
    <% end %>
  </ul>
</div>
