<div class="row">
	<div class="span8">
		<h3>I want to be <%= @tobe.title %><br> 
			because <%= @tobe.reason %> </h3>

		<% if @tobe.image.present? %>
			<div class="tobe-image">
		  		<img src="<%= @tobe.image.url %>"/>
			</div>
			<br>
		<% end %>

		<hr>
		<p><%= @tobe.description %> <br>
		<hr>
		posted by <a href="<%= user_path(@tobe.user) %>"> <%= @tobe.user.email %></a> <%= time_ago_in_words( @tobe.created_at ) %> ago
		</p>
		<hr>
		<% if user_signed_in? %>
			<div>
				<a href="<%= edit_tobe_path( @tobe ) %>" class="btn">Edit To Be</a><br>
				<%= button_to "Delete To Be", tobe_path(@tobe), :method => :delete, :class => "btn"  %>
			</div>
		<% end %>
	</div>

	<div class="span4">
		<h3> Notes </h3>
		  <ul class="unstyled">
		    <% @tobe.journals.each do | journal | %>
		    <%= render :partial => "journals/journal", :locals => { :journal => journal } %>
		    <% end %>
		  </ul>
		<% if user_signed_in? %>
		<h3> Add new note </h3>
			<%= form_for [@tobe, @journal] do |f| %>
				<%= f.text_field :title, :class => "field span4", :placeholder => "Title" %><br>
				<%= f.text_area :body, :class => "field span4", :placeholder => "Entry", :rows => 8, :cols => 40 %>
				<br>
				<%= f.submit "Submit", :class => "btn btn-primary"   %>
			<% end %>
		<% end %>
	</div>	
</div>
