<h2><%= @category.title %> Aspirations</h2> 

<br/>


<ul class="unstyled">
    <% @category.tobes.each do |tobe| %>
      <li><h3><a href="<%= tobe_path(tobe) %>"> I want to be <%= tobe.title %> because <%= tobe.reason %></a></h3></li>
      <a href="<%= user_path(tobe.user) %>"> <%= tobe.user.email %></a>
    <% end %>
  </ul>



<% if user_signed_in? %>
	<%= button_to "Delete Category", category_path(@category), :method => :delete, :class => "btn"  %>
<% end %>