<!DOCTYPE html>
<html>
<head>
  <title>TwoBees</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">



</head>
<body>

	<div class="container">

<!--header -->
  
  <div class="masthead">

    <ul class="nav nav-pills pull-right">
      <li class=" <%= "active" if @sitesection == :how_it_works %>">  
        <a href=" <%= how_it_works_path %> ">How it Works</a>
      </li>
      <li class=" <%= "active" if @sitesection == :explore %>">
        <a href=" <%= tobes_path %> ">Aspirations</a></li>
      </li>
              
    <% if user_signed_in? %>
      <li> 
      
      </li>
    <% else %>
      <li>
        <a href="<%= new_user_session_path %>">Log in </a>
      </li>
      <li>
        <a href="<%= new_user_registration_path %>">Sign up </a>
      </li>
    <% end %>
    </ul>


    <h1 class="muted"><a href="<%= root_path %>">Two Bees</a></h1>
     <% if user_signed_in? %>
     <p> 
      Hello, <a href="<%= user_path(current_user) %>"><%= current_user.email %></a> (<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>)
      </p> 
      <% end %>
  </div>
  <hr>
  
  <%= bootstrap_flash %>
  <div class="body">
<!-- The main part of the site -->
     
      <%= yield %>

<!-- end main part of the site -->

    </div>
  </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>


</body>
</html>
